*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 150px;


}

#jessy{
    border: 5px solid orange;
    padding: 50px;
  
   
}

#img{
    width: 100px;
 margin-left: 180px;
 position: absolute -44px;
}
body{
    background-image:url("istockphoto-1394452639-612x612.jpg");
    border: 1px solid black;
}
#jessy h1{
    margin-left: 180px;
    color: aqua;
}

#jessy input{
    margin-left: 180px;
   border-style: none;
   border-bottom: 3px solid ;
    color: mediumvioletred;
    background-color: aqua;
    font-size: larger;
    margin-top: 20px;
    
    


}
#jessy p{
    margin-left: 180px;
    color: pink;
  
    border-style: none;
    border-bottom: 1px solid black;
    font-size: larger;
}

#jessy a{
    color: red;
    font-size: larger;
}

#jessy button{
    border-radius: 78px;
    background-color:palevioletred;
    margin-top: 0px;
    font-size: larger;
}